<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pluto.mapper.FileMapper">

    <resultMap id="BaseResultMap" type="com.pluto.entity.Files">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="size" column="size" jdbcType="BIGINT"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="enabled" column="enabled" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,file_name,type,
        size,url,is_deleted,
        enabled
    </sql>
</mapper>
